.header {
  background-color: #0f0f0f; /* cinza claro */
  color: #fdfafa; /* texto preto */
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
