<div class="card product-detail">
  <div class="row g-0">
    <div class="col-md-5">
      <img
      [src]="product.imgUrl"
      class="img-fluid rounded-start"
      [alt]="product.name"
      [class.zoomed]="isZoomed"
      (mouseenter)="isZoomed = true"
      (mouseleave)="isZoomed = false"

      />

    </div>
    <div class="col-md-7">
  <div class="card-body">

    <!-- Título do produto -->
    <h3 class="card-title d-flex justify-content-between align-items-center">
      {{ product.name | uppercase }}
      <span class="badge bg-danger">{{ product.onSale | onSale }}</span>
    </h3>

    <!-- Descrição -->
    <p class="card-text">{{ product.description }}</p>

    <!-- Preço -->
    <!-- Se estiver em promoção, mostra preço original riscado e o desconto em verde -->
    <p class="card-text price container" *ngIf="product.onSale; else normalPrice">
      <strong class="original-price text-decoration-line-through">
        {{ product.price | currency:'BRL'}}
      </strong>
      <strong class="discountedPrice text-success">
        {{ discountedPrice | currency:'BRL'}}
      </strong>
    </p>

    <!-- Preço normal -->
    <ng-template #normalPrice>
      <p class="card-text">
        Preço <strong>{{ product.price | currency:'BRL' }}</strong>
      </p>
    </ng-template>

    <!-- Data de lançamento -->
    <p class="card-text">
      <small class="text-muted">
        Data de Lançamento: {{ product.launchDate | date:'dd/MM/yyyy' }}
      </small>
    </p>
    <!-- Status -->
    <p class="card-text">
      <small class="text-muted">
        Status: {{ product.available | availability }}
      </small>
    </p>
  </div>
    </div>
  </div>
</div>




